.Course {
  .course-comp {
    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            text-decoration: none;
            :active{
              color: rgb(110, 146, 96);
            }
          color: rgb(105, 105, 105);
        }
      }
    }
  }
  .First{
    margin: 20px;
  }
  .Date{
    margin: 20px;
  }
}
