.Course {

  .links {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    a {
      text-decoration: none;
      color: grey;
    }

    a.active {
      color: rgb(250, 248, 248);
    }
  }
      .First {
      margin: 20px;
    }
    .Date {
      margin: 20px;
    }

}
