.Java {
  .container {
    display: flex;
    width: 100%;
    .card {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
        // border: 1px solid #ccc;
      }
    }

    .content {
      width: 60%;
      .projects {
        display: flex;
        justify-content: space-around;
        height: 200px;
        padding-top: 30px;
      }
      .link {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
      }
      .form {
        .f_sz {
          font-size: 1.3vw;
        }
      }
    }
  }
}
