.Java {
  // flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // justify-content: space-around;
  // .card {
  //     width: 8vw;
  //   // width: 45%;
  //   height: auto;
  // }
  .content {
    width: 45%;
  }
}
