nav {
  ul {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    list-style-type: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    a {
      color: rgb(248, 245, 245);
      // background-color: rgb(190, 187, 187);
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
    }
    a.active {
      color: rgb(161, 154, 154);
    }
  }
}
