* {
  box-sizing: border-box;
}
.todo {
  // border: 1px solid rgb(121, 54, 38);
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 70vw;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    background-color: rgb(202, 200, 200);
    display: flex;
    margin-top: 6vh;
    padding: 0.5vw;
    // border: 3px solid rgb(20, 67, 223);
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vh;
      font-size: 2.5vw;
      padding: 0.5vw;
      margin: 0.5vw;
      background-color: rgb(168, 167, 167);
      // border: 1px solid rgb(89, 121, 38);

      input[type="checkbox"] {
        text-align: center;
        width: 5vw;
        height: 2vh;
        cursor: pointer;
        margin: 0.5vw;
        color: #000;
      }
      input[type="checkbox"]:focus + label {
        text-decoration: underline;
      }
      label {
        font-size: 2 vw;
        flex-grow: 1;
      }
      svg {
        width: 20px;
        height: 20px;
        color: rgb(245, 245, 248);
        cursor: pointer;
      }
      svg:focus,
      svg:hover {
        color: rgb(134, 131, 131);
        outline: none;
      }
    }
  }
}
