* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
  // display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  color: white;
  padding: 1vw;

  //-----ROUTER-6----
  body {
    margin: 0 auto;
    // max-width: 900px;
  }
}
// .main {
//   padding: 1rem;
//   margin: 5vw;
// }
.Scrolling {
  html {
    scroll-behavior: smooth;
  }
  body {
    max-width: 900px;
    margin: 10px auto;
  }

  .App {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section {
    height: 100vh;
  }

  header {
    display: flex;
    justify-content: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
  }
  li a {
    padding: 1rem;
    text-decoration: none;
  }
}
//------------
// Header {
//   width: 100vw;
//   height: 3vh;
//   margin: 30vn;
//   padding: 1vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }
// Footer {
//   height: 3vh;
// }
