* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;

  //---------------
  body {
    margin: 0 auto;
    max-width: 900px;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
  }
  .main {
    padding: 1rem;
  }
  //---------------

  img {
    width: 8vw;
  }
  Header {
    width: 100vw;
    height: 3vh;
    // margin: 30vn;
    // padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  Main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    ul {
      width: 50%;
      list-style: none;
      padding: 0.3rem 0.3rem;
      background-color: rgb(202, 200, 200);

      li::before {
        content: "\200B";
      }
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 5vh;
        padding: 0.5rem 0 0.5rem -0.5rem;
        margin: 0.2rem 0;
        background-color: rgb(168, 167, 167);
        :first-child {
          margin: 0;
        }
        input[type="checkbox"] {
          text-align: center;
          width: 2.5vw;
          height: 2.5vh;
          cursor: pointer;
          margin-right: 0.5vw;
        }
        input[type="checkbox"]:focus + label {
            text-decoration: underline;
          }
        label {
          font-size: 2 vw;
          flex-grow: 1;
        }
        svg {
          width: 2vw;
          max-width: 2vw;
          height: 2vw;
          color: rgb(245, 245, 248);
          cursor: pointer;
        }
        svg:focus,
        svg:hover {
          color: gray;
          outline: none;
        }
      }
    }
  }
  Footer {
    height: 3vh;
  }
}
